* {
    margin: 0;
    padding: 0;
    font-family: '', sans-serif;
}

body {
    background: #f8f7f4;
}

header {
    width: 100%;
    margin-bottom: 70px;
    padding-top: 25px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding: 10px 0;
    margin-left: 25px;
    margin-right: 25px;
}

header nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

header nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: all 0.3s ease;
}

header nav ul li a:hover {
    color: #00bcd4;
    transform: scale(1.2);
    text-shadow: 0 0 8px rgba(0, 188, 212, 0.6);
}

div#nav-profile {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

div#nav-profile p {
    font-size: 16px;
    padding-left: 8px;
}

div#nav-profile span {
    color: gray;
}

div#nav-profile img {
    width: 50px;
}
